{
	admin {$GOTTH_BB_CADDY_ADMIN}
}

{$GOTTH_BB_AUTH_HOST} {
	bind {$GOTTH_BB_CADDY_BIND}
	reverse_proxy 127.0.0.1:{$GOTTH_BB_AUTH_HTTP_PORT} {
		header_up X-Forwarded-For {$GOTTH_BB_CADDY_CLIENT_ADDRESS}
		header_up X-Forwarded-Proto {$GOTTH_BB_CADDY_UPSTREAM_SCHEME}
		header_up -Forwarded
		header_up -X-Real-IP
	}
}

{$GOTTH_BB_BOARD_HOST} {
	bind {$GOTTH_BB_CADDY_BIND}
	reverse_proxy 127.0.0.1:{$GOTTH_BB_APP_HTTP_PORT} {
		header_up X-Forwarded-For {$GOTTH_BB_CADDY_CLIENT_ADDRESS}
		header_up X-Forwarded-Proto {$GOTTH_BB_CADDY_UPSTREAM_SCHEME}
		header_up -Forwarded
		header_up -X-Real-IP
	}
}
